@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700;800&display=swap');

@import "tailwindcss";

@layer base {
  html, body {
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    color: #0F172A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #0F172A;
  }
}

@theme {
  --color-primary: #0F172A; 
  --color-secondary: #1A801D; 
  --color-accent: #166E18; 
  --color-background: #FFFFFF; 
  --color-sectionBg: #F8FAFC; 
  
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(26, 128, 29, 0.4) rgba(255, 255, 255, 0.02);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(26, 128, 29, 0.4);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(26, 128, 29, 0.8);
}
